  body
  {
      font-family: 'Arial', sans-serif;
      background-color: #000000;
      color: #333;
      margin: 0;
      padding: 0;
      background-position: top;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("bg.png");
      background-size: cover;
      background-repeat: no-repeat;
      position: fixed;
  }

  #container
  {
      left: 25vw;
      top: 12vh;
      min-width: 800px;
      margin: 40px auto;
      padding: 20px;
      background: white;
      border-radius: 15px;
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
      margin-top: 6%;
      position: absolute;
      max-height: 80vh; /* Or whatever height you want */
      overflow-y: auto;  /* This makes the container scrollable */
  }

  #container::-webkit-scrollbar
  {
    width: 10px;
    height: 10px;
  }

  #container::-webkit-scrollbar-track
  {
    background: transparent;
    border-radius: 10px;
  }

  #container::-webkit-scrollbar-thumb
  {
    background-color: #2ea7a7;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;      
  }

  #container::-webkit-scrollbar-thumb:hover
  {
    background-color: #249595;
  }

  h1, h2 {
    text-align: center;
    color: #2ea7a7;
  }

  button {
    display: inline-block;
    padding: 0.9rem 2.2rem;
    font-size: 18px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 600;
    color: #fff;
    background-color: #2ea7a7;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    letter-spacing: 1px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    cursor: pointer;
  }

  button:hover {
    background-color: #249595;
    transform: translateY(-4px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
  }
  button:active {
    transform: translateY(-1px);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  }

  #options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 10px;
  }

  #options button {
    padding: 12px 24px;
    font-size: 13px;
    border: none;
    border-radius: 8px;
    background-color: #2ea7a7;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }

  .form-section {
    display: none;
    margin-top: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form input, form textarea {
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 14px;
  }

  form textarea {
    height: 100px;
    resize: vertical;
  }

  #back_home {
    display: inline-block;
    padding: 0.5rem 1.1rem;
    margin-top: 10px;
    font-size: 10px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 600;
    color: black;
    background-color: #f4f4f4;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    letter-spacing: 1px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    cursor: pointer;
  }

  #hub_container
  {
      width: 100%;
      height: 70vh;
      background-color: #d3d3d3;
      opacity: 0.9;
      border-radius: 10px;
      overflow-y: auto;
      padding: 10px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: flex-start;
  }

  #hub_container::-webkit-scrollbar,body::-webkit-scrollbar{
    width: 10px;
    height: 10px;
  }

  #hub_container::-webkit-scrollbar-track,body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  #hub_container::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb {
    background-color: #2ea7a7;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;      
  }

  #hub_container::-webkit-scrollbar-thumb:hover,body::-webkit-scrollbar-thumb:hover {
    background-color: #249595;
  }

  #hub_container {
    overflow: auto;
  }
